<!-- appointment.component.html -->
<section class="container">
  <h1>Welcome, {{ user.name }}</h1>

  <div class="appointment-list">
    <div class="card" *ngFor="let appointment of bookings">
      <div class="card-header">
        Appointment Details
      </div>
      <div class="card-body">
        <p>Date: {{ appointment.appointment_date | date: 'dd/MM/yyyy' }}</p>
        <p>Time: {{ appointment.appointment_time }}</p>
        <p>Status: {{ appointment.status }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="editAppointment(appointment)">Edit</button>
        <button class="btn btn-danger" (click)="deleteAppointment(appointment)">Delete</button>
      </div>
    </div>
  </div>

  <div class="book-appointment-button">
    <button routerLink="/appoint">Book Appointment</button>
  </div>
</section>
