
<section class="h-100vh h-custom" style="background-color: #8fc4b7;">
  <h1 style="text-align: center;">Book Appointment</h1>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo"> -->
            <div class="card-img-top">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXi6kWCo1P3qJAuOnEAs6jWS1Dg1BqRkk8Q&usqp=CAU"
                class="w-100 h=100" style="border-top-left-radius: .1rem; border-top-right-radius: .1rem;"
                alt="Sample photo">
                

            </div>
          
            <div class="card-body">
              <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Date</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="date" class="form-control form-control-lg" formControlName="appointment_date" [value]="appointmentForm.get('appointment_date')?.value | date:'yyyy-mm-dd'">
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Time</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="time" class="form-control form-control-lg"  formControlName="appointment_time"/>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Notes</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" placeholder="Any other information" formControlName="notes"></textarea>
  
                </div>
              </div>

              <div>
                <input type="text" hidden id="doctor_id" formControlName="doctor_id" [readonly]="true" />
              </div>
              <div>
                <input type="text" hidden id="patient_id" formControlName="patient_id" [readonly]="true" />
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button class="btn btn-secondary" type="submit" [disabled]="appointmentForm.invalid">Book Appointment</button>
              </div>
            </form>
            </div>

          

        </div>
      </div>
    </div>
  </div>
</section>
