<div>
  <h2>Book Appointment</h2>
  <form (ngSubmit)="bookAppointment()">
    <div>
      <label for="doctor">Doctor:</label>
      
    </div>
    <div>
      <label for="appointmentDate">Appointment Date:</label>
      <input type="date" id="appointment_date" [(ngModel)]="appointment.appointment_date" required>
    </div>
    <div>
      <label for="appointmentTime">Appointment Time:</label>
      <input type="time" id="appointmentTime" [(ngModel)]="appointment.appointment_time" required>
    </div>
    <!-- Add other appointment details fields here -->
    <button type="submit">Book Appointment</button>
  </form>
</div>

<br>

<owl-date-time-inline ngModel="dateTime3"></owl-date-time-inline>

<div class="container">
  <h1>Appointment Booking</h1>

</div>

<app-appointment appointmentEvents="appointmentEvents"></app-appointment>



<br>
<div>
  <h2>Book Appointment</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
    <div>
      <label for="doctor">Doctor:</label>
      <!-- <select id="doctor" formControlName="doctor" required>
        <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
      </select> -->
    </div>
    <div>
      <label for="appointmentDate">Appointment Date:</label>
      <input type="date" id="appointmentDate" formControlName="appointment_date" required>
    </div>
    <div>
      <label for="appointmentTime">Appointment Time:</label>
      <input type="time" id="appointmentTime" formControlName="appointment_time" required>
    </div>
    <!-- Add other appointment details fields here -->
    <button type="submit">Book Appointment</button>
  </form>
</div>

