<h1>Book Appointment</h1>

<form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
  <div>
    <label for="appointment_time">Appointment Time:</label>
    <input type="time" id="appointment_time" formControlName="appointment_time" />
  </div>
  <div>
    <label for="appointment_date">Appointment Date:</label>
    <input type="date" id="appointment_date" formControlName="appointment_date" />
    <i class="fas fa-calendar "></i>
  </div>
  <div>
    <label for="doctor_id">Doctor ID:</label>
    <input type="text" id="doctor_id" formControlName="doctor_id" [readonly]="true" />
  </div>
  <div>
    <label for="patient_id">Patient ID:</label>
    <input type="text" id="patient_id" formControlName="patient_id" [readonly]="true" />
  </div>
  <button type="submit" [disabled]="appointmentForm.invalid">Book Appointment</button>
</form>
